<div class="contents">
    <%= form_tag("/nikkis/#{@nikki.id}", method: :patch ) do %>
      <h3>
        編集する
      </h3>
      <div class="field">
          <%= file_field_tag :image %>
      </div>
      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @nikki.text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>