

<div class="contents">
  <%= form_tag('/nikkis', method: :post, multipart: true) do %>
    <h3>
      投稿する
    </h3>
    <div class="field">
          <%= file_field_tag :image %>
          <%= hidden_field_tag :temple_id, params[:temple_id] %>
    </div>
    <textarea cols="30" name="text" placeholder="どんな気持ちですか？" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>