@import "compass";

$yellow: #FFC107;
$lightGreen: #4DB6AC;
$green: #009688;
$darkGray: #4A4A4A;
$gray: #9B9B9B;
$lightGray: #F5F5F5;
$white: white;

@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

*{
  padding: 0;
  margin: 0;
}

div {
  font-family:Helvetica,Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic,“ヒラギノ角ゴ ProN W3″,“Hiragino Kaku Gothic ProN”, “メイリオ”,Meiryo, sans-serif;
}

body{
  margin: 0 auto;
  background-color: #F5F5F5;
  color: $darkGray;
  font-size: 16px;
}

ul li{
  list-style: none;
}

h2{
  color: $gray;
  margin-bottom: 30px;
  text-align: center;

}

a{
  text-decoration: none;
  color: $yellow;
}

a:hover{
  text-decoration: underline;
}



header.header {
  padding: 10px;
  background-color: $green;
  position: fixed;
  width: 100%;
  z-index: 5;
}

header.search{
  background-color: $green;
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 30px 10px 0px 0px;
  h2{
    color: $white;
    text-align: center;
  }
  .icon_search{
    position: absolute;
    padding: 10px 0px 0 30px;
  }
}

li.drop ul{
  display: none;
}

li.drop:hover ul{
  display: block;
}

.main-nav {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  color: $white;
  display: block;
  text-decoration: none;
}

.contents{
  padding-top: 96px;
  margin: 0 auto;
  width: 90%;
}

.content_post{
  width: 96%;
  padding: 2%;
  margin: 20px auto;
  background-color: $white;
  display: block;
  border-radius: 10px;
}

.more{
  text-align: right;
  font-size: 1rem;
  margin-bottom: -16px;
  ul{display: flex;
    width: 80px;
    margin-left: auto;}
    li{padding-left: 5px;}
    a{color: $gray;}
  }

  .avatar-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border-radius: 50px;
    background-image: image-url("avator-bg.png");
  }

  .nickname{
    color: $gray;
    font-size: 1.5rem;
    margin-bottom: -10px;
    display: block;
  }

  .place{
    font-size: 3rem;
    color: $green;
    font-weight: lighter;
  }

  .img{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
  }

  .content_post p{
    font-size: 2.5rem;
    padding: 4px 0;
  }

  form {
    @include boxBase(20px 0 ,30px);
    background-color: $white;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    h3 {
      @include baseMargin(0 0 20px);
      text-align: center;
      font-weight: normal;
      font-size: 2rem;
    }
    input,textarea {
      width: 100%;
      @include boxBase(5px 0 15px ,10px);
      border: 1px solid $gray;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    input[type="submit"] {
      background-color: $lightGray;
      border-radius: 20px;
      color: $white;
      border: 0;
      font-size: 18px;
      &:hover {
        background-color: $green;
      }
    }
  }
  .success {
    @include boxBase(20px 0 ,30px);
    background-color: $white;
    box-sizing: border-box;
    text-align: center;
    h3 {
      @include baseMargin;
      color: #979797;
    }
     a{
      text-decoration: none;
    }
  }

  .mypage{
    display: block;
    margin-bottom: 50px;
    font-size: 28px;

    p{

    }
  }

  .search-form {
    width: 100%;
    padding: 110px 110px 0px 0px ;
    margin: 0;
    background-color: $lightGreen;
    form{
      background-color: $lightGreen;
      padding: 5px;
      clear: both;
      margin-left: 40px;
    }
    input{
      float: left;
      width: 90%;
    }
    button{
      padding-left: 10px;
      padding-top: 8px;
      background-color: transparent;
      border-style: none;

    }
  }

  .result{
    .result_column{
      width: 100%;
      background-color: $white;
      padding: 20px 40px;
      border-bottom: 2px solid $lightGray;
      h3{
        color: $green;
      }
      p{
        color: $gray;
        font-size: 0.5rem;
      }
    }

    a:hover{
      text-decoration: none;

    }
  }
  .temple-top{
    padding-top: 96px;
  }

  .temple-basic{
    margin: 30px auto -40px;
    width: 90%;

    h1{
      font-size: 3rem;
      color: $green;
    }
  }

  .temple-img{
    height: 280px;
    width: 100%;
    overflow: hidden;
    background-color: $lightGreen;
  }

  .top-img {
    display: inline-block;
    height: 280px;
    float: left;
  }

  .create-btn{
    color: $green;
    background-color: $white;
    padding: 4px 30px;
    margin: 20px 0;
    border-radius: 20px;
    font-size: 1.8rem;
  }




  footer {
    @include boxBase;
    text-align: center;
    color: $gray;
  }

