<div class="top-about">
  <h1>遍路日記</h1>
</div>
<div class="contents-index">
 <div class="about">
  <h2>遍路日記とは</h2>
  <p>遍路日記はお遍路さんが、札所ごとでの思いや気付きを共有できるwebサービスです。<br>札所ごとで思いをつづって、自分だけの"遍路日記"を完成させましょう。<br>お遍路をしながら色んな人の気づきや思いと共感して、お遍路を終えたあとでも"日記"として振り返ることができます。<br>札所ごとのお遍路さんの"日記"を見ると、きっとお遍路に行きたくなるはずです。</p>
  <h2>制作者</h2>
  <h3>原ひかり<small><a href="http://kumaocky.github.io/portfolio/" target="_blank">ポートフォリオサイト</a></small></h3>
  <p>愛媛県今治市出身<br>首都大学東京システムデザイン学部<br> インダストリアルアートコース4年<br>
  </p>
  <h3>制作者の思い</h3>
  <p>遍路日記が盛り上がると、札所それぞれの魅力がもっと色んな人に伝わると思います。<br>
  お遍路さんや、お遍路をしようと思っている人、そうでない人へもそれぞれの魅力が伝わるといいなと思っています。<br>まだまだ未熟な点も多いサービスですが、ひとつひとつ改善をしていきたいとおもっています。<br>お気づきの点などありましたら<a href=mailto:henronikki88@gmail.com>コチラ</a>までご連絡下さい。</p>
  <h2>ニュース</h2>
    <p>2017.1.14 <a href="http://mainichi.jp/articles/20170112/ddl/k38/040/589000c" target="_blank">毎日新聞</a>に掲載されました!</p>
  <%= link_to "登録はこちら", new_user_registration_path, class: 'reg-btn' %>
  </div>
</div>
